*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    //bunga tegma !!!
}
.section_two{
    .container{
        background-image: url(src/companents/Header/img/secttwobg.png);
        background-size: cover;
        .content{

        }
    }
}